* { 
    margin: 0;
    padding: 0;
}

.container-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato-pag {
    background: url('../../assets/background-3.png');
    background-attachment: fixed;
    background-size: cover;
}

.box-contato {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
}

/* Animations Card */

.contato-1, .contato-2, .contato-3, .contato-4, .contato-5, .contato-6 {
    display: flex;
    width: 250px;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.contato-1:hover {
    background-position: 100% 100%;
}

.contato-1 {
    background: linear-gradient(#ffffff, #fdfdfd 50%, rgba(160, 89, 218, 0.438) 50%, rgba(160, 89, 218, 0.438));
    background-size: 100% 200%;
    transition: background 1s;
}

.contato-2 {
    background: linear-gradient(#ffffff, #fdfdfd 50%, #2ecc71 50%, #2ecc71);
    background-size: 100% 200%;
    transition: background 1s;
  }

.contato-2:hover {
    background-position: 100% 100%;
}

.contato-3 {
    background: linear-gradient(#ffffff, #fdfdfd 50%, #b84627 50%, #FC7753);
    background-size: 100% 200%;
    transition: background 1s;
  }

.contato-3:hover {
    background-position: 100% 100%;
    background-color: dodgerblue;
}

.contato-3 {
    background: linear-gradient(#ffffff, #fdfdfd 50%, rgb(84, 144, 204) 50%, dodgerblue);
    background-size: 100% 200%;
    transition: background 1s;
  }

.contato-4 {
    background: linear-gradient(#ffffff, #fdfdfd 50%, rgb(80, 95, 95) 50%, darkslategrey);
    background-size: 100% 200%;
    transition: background 1s;
}

.contato-4:hover {
    background-position: 100% 100%;
    background-color: darkslategrey;
}

.contato-5 {
    background: linear-gradient(#ffffff, #ffffff 50%,#fcdd53 50%, #fcdd53);
    background-size: 100% 200%;
    transition: background 1s;
}

.contato-5:hover {
    background-position: 100% 100%;
    background-color: #fcdd53;
}

.contato-6 {
    background: linear-gradient(#ffffff, #ffffff 50%,#FC7753 50%, #FC7753);
    background-size: 100% 200%;
    transition: background 1s;
}

.contato-6:hover {
    background-position: 100% 100%;
    background-color: #FC7753;
}

.box-contato img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-contato {
    width: 200px;
    padding: 20px;
}

.header-contato {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 50px;
    letter-spacing: 7px;
    color: white;
}

.react-icons {
    display: flex;
    gap: 20px;
}

.react-icons svg {
    width: 30px;
    height: 100px;
}

@media screen and (max-width: 638px) {
    .box-contato {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        justify-items: center;
        padding: 20px;
    }

    .contato-1, .contato-2, .contato-3, .contato-4, .contato-5, .contato-6 {
        width: 100%;
    }
}