.error-message{
    color: red;
}
.quebra-cpf{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  margin-bottom: .5em !important; /*consertar o scss*/
}



input {
    border-radius: 15px;
    border: 2px solid white;
    transition: ease-in-out .2s;
    
  }
  input:focus{
   outline: none;
   background-color: rgb(228, 228, 228);
  }

  input[type=text]{
    padding-left: 1em;
    width: 200px;
  }

  .botao-voltar{
    border: none;
    color: white;
    background-color: rgb(101, 13, 133);
    width: 150px;
    height: 60px;
    transition: .5s;
    border-radius: 10px;
    font-size: 1.4em;
  }

 .botao-edit{
  border: none;
    color: white;
    background-color: rgb(255, 0, 230);
    width: 150px;
    height: 60px;
    transition: .5s;
    border-radius: 10px;
    font-size: 1.4em;
 }



  .edit-ingressos {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

  }

@media (max-width: 768px) {
  .edit-ingressos{
    grid-template-columns: 1fr 1fr;
  }
}



  .fundo {
    background: url('../img/stars.png');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;

    
}

input[type=radio]{
  height: 15px;
  width: 15px;
}
.input-form{
  gap: 5px;
  color: white;
  flex-direction: column;
    margin-left: 3em;
}

@media (min-height: 840px) {
  input[type=text]{
    width: 300px;
    height: 40px;
  }
}
@media (min-height: 900px) {
  div.input-form label{
    font-size: 2em !important;
  }
}



.img-edit{
  width: 99.999%;
}



  /* label.img-select {
    width: 60% !important;
  }  

   

        @media (max-height: 1024px) {
            label.img-select {
              width: 40% !important;
            }  
        } */





input[type="radio"] {
  visibility: hidden;
}

label.img-select {
display: block;
margin-right: 1em;
transition: 0.2s
}



input[type="radio"]:checked+label {
  border: 5px solid;
border-color: rgb(187, 0, 255);
}


 .response{
  margin-bottom: 10em !important;
 }

 @media (min-height: 700px) {
  .input-form{
      margin-bottom: 15em !important;
  }}
 @media (min-height: 800px) {
  .fundo{
      height: 100vh !important;
  }}

  .texto-verde{
    color: rgb(0, 255, 0);
  }

  
