@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Secular One', sans-serif;
}


a {
    color: black !important;
}

a{
    color: rgb(191, 191, 191) !important;
}


.active{
    color: rgb(255, 0, 230) !important;
}

