.box-patrocinadores {
    background-color: rgba(0, 0, 0, 0.426);
    padding: 40px 0px 20px 0px;
}

.box-patrocinadores h2 {
    text-align: center;
    color: white;
}

.patrocinadores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
}

.pat-1, .pat-2, .pat-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
}

.pat-1 img, .pat-2 img, .pat-3 img {
    width: 50%;
}